<div class="links">
  <ul class="internal">
    <li><a href="#" title="Terms of Service page">Terms of Service</a></li>
    <li><a href="#" title="Contact Us page form">Contact Us</a></li>
  </ul>
  <ul class="external">
    <li><a href="https://www.facebook.com/ekohe.co"><img src="../../../assets/icons/facebook.svg"></a></li>
    <li><a href="https://twitter.com/ekohe"><img src="../../../assets/icons/twitter.svg"></a></li>
    <li><a href="#"><img src="../../../assets/icons/instagram.svg"></a></li>
    <li><a href="#"><img src="../../../assets/icons/soundcloud.svg"></a></li>
    <li><a href="#"><img src="../../../assets/icons/spotify.svg"></a></li>
  </ul>
</div>
