/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;

  footer {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
